.defaultButton {
  display: inline-block;
  border: none;
  border-radius: 9999px;     
  padding: 4px 12px;           
  font-size: 0.75rem;
  font-weight: 600;            
  line-height: 1;
  cursor: default;
}

/* Role */
.roleUser {
  background-color: #CAD7FF;
  color: #5356FF;
}

.roleAdmin {
  background-color: #FFF292;
  color: #9E841E;
}

/* User Status */
.userStatusActive {
  background-color: #B9F9BC;
  color: #289258;
}

.userStatusSuspended {
  background-color: #FFDCAC;
  color: #E37343;
}

.userStatusWithdrawn {
  background-color: #F8DBDB;
  color: #E05A55;
}

/* Dog Status */
.dogStatusRegistered {
  background-color: #CAD7FF;
  color: #5356FF;
}

.dogStatusApproved {
  background-color: #B9F9BC;
  color: #289258;
}

.dogStatusSuspended {
  background-color: #FFDCAC;
  color: #E37343;
}

.dogStatusRemoved {
  background-color: #F8D8D8;
  color: #E05A55;
}

.customStatusPending {
  background-color: #DDDDDD;
  color: #303030;
}

.customStatusInprogress {
  background-color: #CAD7FF;
  color: #5356FF;
}

.customStatusHold {
  background-color: #FFF292;
  color: #9E841E;
}

.customStatusCompleted {
  background-color: #B9F9BC;
  color: #289258;
}

.customStatusCanceled {
  background-color: #F8D8D8;
  color: #E05A55;
}